<div id="prodListWrapper">
    <p>Please click on buy button to buy the product.</p>
    <ul class="list-unstyled">
        <li class="product" ng-repeat="prod in cart"
            style="background: white url('images/icons/{{prod.imgUrl}}') left center no-repeat">
            <div class="product-details clearfix">
                <h3>{{prod.name|uppercase}}</h3>                
                <ul class="list-unstyled list-inline">
                    <li>ID: {{prod.id}}</li>
                    <li>Price: {{prod.price|currency}}</li>                    
                </ul>
                <p>{{prod.description}}</p>
                <button class="btn btn-info pull-right" ng-click="buy(prod)">Buy</button>
            </div>
        </li>
    </ul>
</div>