<div>
    <h1>List Shippers</h1>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" role="button" href="#/shippers/new">Add new shipper</a>
        </div>
    </div>
    <br/>
    <table class="table table-striped table-hover">
        <thead>
        <tr class="success">
            <th>Id</th>
            <th>Company Name</th>
            <th>Phone</th>
            <th></th>
        </tr>
        </thead>
        <tr ng-repeat="shipper in shippers">
            <td>{{shipper.ShipperId}}</td>
            <td>{{shipper.CompanyName}}</td>
            <td>{{shipper.Phone}}</td>
            <td>
                <a class="btn btn-default" role="button" href="#/shippers/{{shipper.ShipperId}}/edit">Edit</a>
                <button class="btn btn-danger" ng-click="delete(shipper.ShipperId)">
                    X
                </button>
            </td>
        </tr>
    </table>
</div>