<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Data Binding</title>
    <meta charset="utf-8" />
</head>
<body ng-app="myApp">
  <div ng-controller="ToyController">

    <p>New toy: 
        <input ng-model="newToyName" style="width:100px"/>

        <input type="button" value="Click to Add"
               ng-click="addToy(newToyName)" />
    </p>
    <p>Toys:</p>
    <ul>
      <li ng-repeat="toy in toys">
          {{ toy }}
      </li>
    </ul>
  </div>
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/controllers/ToyController.js"></script>
</body>

</html>
