<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Implementing HTML5 Style Validation With AngularJS</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/cloak.css" rel="stylesheet">
    <link href="css/val.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>Implementing HTML5 Style Validation With AngularJS</h1>
                </div>
                <form name="client" ng-controller="MainController" ng-cloak>
                    <div class="form-group">
                        <label for="firstName"> First Name:</label>
                        <input type="text" name="firstName" ng-model="user.first" ng-required="true" class="form-control">
                    </div>
                    <span class="error" ng-show="client.firstName.$invalid && client.firstName.$touched"> Your First Name Is Required </span>
                    <div class="form-group">
                        <label for="lastName"> Last Name:</label>
                        <input type="text" name="lastName" ng-model="user.last" ng-required="true" class="form-control">
                    </div>
                    <span class="error" ng-show="client.lastName.$invalid  && client.lastName.$touched"> Your Last Name Is Required </span>
                    <div class="form-group">
                        <label for="email"> E-mail:</label>
                        <input type="email" name="email" ng-model="user.email" ng-required="true" class="form-control">
                    </div>
                    <span class="error validationerror" ng-show="client.email.$invalid && client.email.$touched">A Valid E-mail is Required</span>
                </form>
            </div>
        </div>
    </div>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/invalid.js"></script>
</body>
</html>