<!doctype html>
<html ng-app>
<head>
  <title>Using Common Directives</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
  <div class="container">
      <br>
    <form>
    Enter username:<input type="text" ng-model="username" />  
    </form>
      <p>
   <div class="alert" ng-show="username.length === 0">
  Username is required!
</div>
<div class="alert" ng-class="{'alert-warning':username.length<5, 'alert-danger':username.length>7}" ng-if="username.length < 5 || username.length > 7">
  Username must be 5-7 characters
</div>
      </p>
  </div>
  <script src="scripts/angular.min.js"></script>  
</body>
</html>