<!DOCTYPE html>
<html>
<head>
    <title>Using Filters</title>
    <meta charset="utf-8" />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="TVShowController">
    <h2>There are {{ shows.length }} TV shows in the library</h2>
    <p>Enter a search phrase:
        <input type="text" ng-model="searchFilter" style="width:100px">
    </p>
    <table>
        <tr>
            <th>Name</th>
            <th>Network</th>
            <th>Year Debuted</th>
        </tr>
        <tr ng-repeat="show in shows | filter : searchFilter" >
            <td>{{ show.name }}</td>
            <td>{{ show.network }}</td>
            <td>{{ show.year }}</td>
        </tr>
    </table>

    <script src="scripts/angular.min.js"></script>
    <script src="scripts/controllers/TVShowController.js"></script>
</body>
</html>
