<div class="page-header">
  <h1>Customer List</h1>
</div>
    <table class="table table-striped table-responsive">
        <tr class="info">
            <th ng-click="doSort('name')">Name</th>
            <th ng-click="doSort('phone')">Phone</th>
            <th ng-click="doSort('city')">City</th>
            <th>&nbsp;</th>
            
        </tr>
        <tr ng-repeat="cust in customers | orderBy:sortBy:reverse">
            <td>{{cust.name}}</td>
            <td>{{cust.phone}}</td>
            <td>{{cust.city | uppercase}}</td>
            <td><a href="#/customers/{{cust.id}}">View Orders</a></td>
            
        </tr>
    </table>
<span>Total customers: {{customers.length}}</span>