<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Forms</title>
	<meta charset="utf-8" />
</head>
<body ng-app>
    <form name="studentForm"
          ng-init="firstName = '';
                 lastName = '';
                 email = 'n/a'">
        <p>
            <label>First name:</label>
            <input type="text" ng-model="firstName"> {{firstName}}
        </p>

        <p>
            <label>Last name:</label>
            <input type="text" ng-model="lastName"> {{lastName}}
        </p>

        <p>
            <label>Email:</label>
            <input type="text" ng-model="email"> {{email}}
        </p>

        {{studentForm | json}}
    </form>

    <script src="scripts/angular.min.js"></script>
</body>


</html>
